{% load static %}

<footer style="text-align: center; padding: 1rem 1rem; background-color: #f5f7fa; margin-top: auto; ">
    <div class="container">
        <p style="color: #666; margin: 0;">© 2025 Midlaj. Built with passion and code.</p>
    </div>
     <style>
        @media (max-width: 768px) {
            footer p {
                font-size: 14px !important;
            }
        }
        
        @media (max-width: 480px) {
            footer p {
                font-size: 12px !important;
            }
        }
    </style>
</footer>