<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
         <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{% static 'css/auth-style.css' %}" />

        <title>{{title}}</title>
    </head>
    <body>
        <section class="header-wrapper" style="background-color: #f5f7fa;">
            <header style="width: 90%; margin: 0 auto; height: 80px;">
        <h1>
            <a href="#"><img src="{% static 'images/icons/blog-logo.svg' %}" alt="" style="width: 80px;"></a>
        </h1>
        </header>
        </section>
        <section class="container">

            {% block content %}

            {% endblock %}

        </section>
    </body>
</html>

