{% extends "users/auth_base.html" %} 
{% load static %}
{% block content %}
            <section class="form_container">
                <div class="top">
                    <h5>Login Page</h5>
                </div>
                <div class="bottom">
                    <form action="" method="post" >
                        {% csrf_token %}
                        <div class="input_container">
                            <label for="id_email"> Email </label>
                            <input id="id_email" name="email" type="text" required/>
                        </div>
                        <div class="input_container">
                            <label for="id_password"> Password </label>
                            <input 
                                id="id_password" 
                                name="password" 
                                type="password" required/>
                        </div>
                        <div class="submit_container">
                            {% if messages %}
                                {% for message in messages %}
                                <p class="error-message">{{message}}</p>
                                {% endfor %}
                            {% endif %}
                            <button type="submit">Log in</button>

                            <a href="{% url 'users:signup' %}">Create Account</a>
                        </div>
                    </form>
                </div>
            </section>
{% endblock %}
